/* Override wrapping styles */
.wrapper,
.wrapper-narrow,
.wrapper-permalink {
  width: auto;
}

/* Nuke the sidebar */
.dashboard {
  display: none;
}

/* Center and space the profile card and main content */
.profile-card.profile-header,
.content-main {
  float: none;
  margin: 0 auto 10px;
  width: auto;
  max-width: 600px;
}

/* Increase the size of the profile header */
.profile-card.profile-header .profile-header-inner {
  height: 300px;
  background-size: 100%;
  background-repeat: none;
}
.profile-header-inner-overlay {
  width: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
}
.profile-card.profile-header .profile-picture {
  margin-top: 50px;
}

/* Tweet changes */
.tweet {
  padding: 12px 30px;
}
.stream-item > .tweet p {
  font-size: 16px;
  line-height: 22px;
}
.stream-item-header .avatar {
  left: 30px;
}
